NODE_ENV=development
PORT=3000
HOST=0.0.0.0
DATABASE_URL="postgresql://user:password@localhost:5432/renenutet"
RENENUTET_BASE_API="http://localhost:3001"
# CORS: '*' pour tout autoriser, ou une liste séparée par des virgules
CORS_ORIGINS=*
