NODE_ENV=development
PORT=3002
HOST=0.0.0.0

ALLOWED_HOST=krang.57regiment.local
CORS_ORIGINS=http://hermes.57regiment.local:5173,http://foxwatcher.57regiment.local:5174

# PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/wan-shi-tong"

#57regiment ServicesURL
WANSHITONG_SERVICE_URL=http://wanshitong.57regiment.local:3001
RENENUTET_SERVICE_URL=http://renenutet.57regiment.local:3003